app/informacoes-viagem.jade
doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") O Congresso
						li
							a(href="#") Informações
						li.current
							a(href="#") Viagem e Hospedagem

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") INFORMAÇÕES

					div.sub-category-menu
						a(href="/informacoes.html").button Informações Gerais
						a(href="/informacoes-viagem.html").button.current Viagem e Hospedagem
						a(href="/informacoes-agencia.html").button Agência de Eventos
						a(href="/informacoes-saopaulo.html" style="min-width:inherit").button São Paulo

					div(class="small-12")
						//- Diferencial
						div.small-12.left.empresa
							div.small-4.left.logo
								img(src="http://placehold.it/300x200", alt="")
							div.small-8.left.local
								h3 Diferencial Viagens e Turismo
								address
									p 
										a(href="#") Rua Cubatão , 929 - Cj.26 <br> CEP: 04013-002 - São Paulo/SP 
										| <br> Tel. 
										a(href="#") +55 (11) 5081-2444 
										| ou 
										a(href="#") +55 (11) 5081-2444
										| <br>
										a.link(href="#") www.diferencialtur.com.br

						//- Hotel 1
						div.small-12.left.local
							h2.small-12.box-title.icon-building.bg-secondary Hotéis
							div.orbit-container
								ul.content-slider(data-orbit, data-options="slide_number: false; bullets: false; timer: false; next_class: block-nav-next; prev_class: block-nav-prev; ")
									li
										img(src="http://placehold.it/740x210/112233", alt="")
									li
										img(src="http://placehold.it/740x210/223344", alt="")
									li
										img(src="http://placehold.it/740x210/334455", alt="")

							h3 Golden Tulip Belas Artes
							address
								p 
									a(href="#") Rua Frei Caneca, 1199 - Consolação <br> CEP: 01307-001, São Paulo/SP 
									| <br> Tel. 
									a(href="#") +55 (11) 472-2020 
									| ou 
									a(href="#") +55 (11) 3472-2000
									| <br>
									a.link(href="#") www.convencoesfreicaneca.com.br

							p A apenas uma quadra da Avenida Paulista, próximo à Consolação, está o Hotel São Paulo Golden Tulip Belas Artes, que já há tempos vem se reafirmando como uma das opções de hospedagem com a melhor excelência em serviços de São Paulo. A atenção com o hóspede segue à risca o premiado padrão de atendimento da rede Golden Tulip, e vai desde o compromisso com a oferta de uma estrutura e sofisticada de hospedagem até o elemento humano, presente no atendimento atencioso e experiente de toda a nossa equipe.

						//- Como chegar
						div.small-12.left.como-chegar
							span.icon-map.small-1.left
							p.small-11.left Como chegar ao Golden Tulip Belas Artes
							p.small-11.left.route Para tarçar a rota.
								a(href="#")  clique aqui &#62;
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.3062005513357!2d-46.65741889999995!3d-23.557443799999984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59cceaff45b1%3A0x45be3a66747bfb97!2sR.+Frei+Caneca%2C+1199+-+Consola%C3%A7%C3%A3o%2C+S%C3%A3o+Paulo+-+SP%2C+01307-001!5e0!3m2!1spt-BR!2sbr!4v1412023830120" width="740" height="300" frameborder="0" style="border:0"></iframe>

						div.small-12.left.line

						//- Hotel 2
						div.small-12.left.local
							div.orbit-container
								ul.content-slider(data-orbit, data-options="slide_number: false; bullets: false; timer: false; next_class: block-nav-next;  prev_class: block-nav-prev; ")
									li
										img(src="http://placehold.it/740x210/112233", alt="")
									li
										img(src="http://placehold.it/740x210/223344", alt="")
									li
										img(src="http://placehold.it/740x210/334455", alt="")

							h3 Golden Tulip Belas Artes
							address
								p 
									a(href="#") Rua Frei Caneca, 1199 - Consolação <br> CEP: 01307-001, São Paulo/SP 
									| <br> Tel. 
									a(href="#") +55 (11) 472-2020 
									| ou 
									a(href="#") +55 (11) 3472-2000
									| <br>
									a.link(href="#") www.convencoesfreicaneca.com.br

							p A apenas uma quadra da Avenida Paulista, próximo à Consolação, está o Hotel São Paulo Golden Tulip Belas Artes, que já há tempos vem se reafirmando como uma das opções de hospedagem com a melhor excelência em serviços de São Paulo. A atenção com o hóspede segue à risca o premiado padrão de atendimento da rede Golden Tulip, e vai desde o compromisso com a oferta de uma estrutura e sofisticada de hospedagem até o elemento humano, presente no atendimento atencioso e experiente de toda a nossa equipe.

						//- Como chegar
						div.small-12.left.como-chegar
							span.icon-map.small-1.left
							p.small-11.left Como chegar ao Golden Tulip Belas Artes
							p.small-11.left.route Para tarçar a rota.
								a(href="#")  clique aqui &#62;
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.3062005513357!2d-46.65741889999995!3d-23.557443799999984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59cceaff45b1%3A0x45be3a66747bfb97!2sR.+Frei+Caneca%2C+1199+-+Consola%C3%A7%C3%A3o%2C+S%C3%A3o+Paulo+-+SP%2C+01307-001!5e0!3m2!1spt-BR!2sbr!4v1412023830120" width="740" height="300" frameborder="0" style="border:0"></iframe>

				div(class="small-3 columns")
					include sidebar
		include footer

app/informacoes-viagem.html
<!DOCTYPE html>
<html lang="pt" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>30 Congresso Brasileiro de Patologia | 29 de Outubro a 01 de Novembro</title>
    <!-- build:css css/libraries.min.css-->
    <!-- bower:css-->
    <!-- endbower-->
    <!-- endbuild-->
    <!-- build:css css/app.min.css-->
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/app_override.css">
    <!-- endbuild-->
    <!-- build:js js/vendor/modernizr.min.js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild-->
  </head>
  <body>
    <header>
      <div data-equalizer="data-equalizer" class="row">
        <div data-equalizer-watch="data-equalizer-watch" class="small-4 columns">
          <div itemscope="itemscope" itemtype="http://schema.org/Organization"><a itemprop="url" href="http://congressodepatologia.org.br/"><img itemprop="logo" src="images/congresso_brasileiro_patologia.png" alt="30 Congresso Brasileiro de Patologia"></a></div>
        </div>
        <div id="data" data-equalizer-watch="data-equalizer-watch" class="small-6 columns"><img src="images/data_congresso.png" alt="De 29 de Outubro a 01 de Novembro"></div>
        <div id="login" data-equalizer-watch="data-equalizer-watch" class="small-2 columns">
          <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
          <ul class="inline-list">
            <li><a href="#">login</a></li>
            <li><a href="#">cadastre-se</a></li>
          </ul>
        </div>
        <div class="small-12 columns">
          <nav id="mainNav">
            <ul class="inline-list">
              <li><a href="#">Home</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#" data-dropdown="drop-trabalhos">Trabalhos e SL de Residentes</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <section role="fixed-navigation">
        <div class="row">
          <div class="small-12 columns"></div>
          <nav>
            <ul class="inline-list">
              <li><a href="#" class="logo">30 Congresso Brasileiro de Patologia</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Associados Eméritos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <section role="dropdown-container">
        <div class="row">
          <ul id="drop-congresso" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
        <div class="row">
          <ul id="drop-trabalhos" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
      </section>
    </header>
    <div id="content" role="content">
      <div class="row">
        <nav id="breadcrumbs" class="small-12 columns">
          <ul class="breadcrumbs">
            <li><a href=".">Home</a></li>
            <li><a href="#">O Congresso</a></li>
            <li><a href="#">Informações</a></li>
            <li class="current"><a href="#">Viagem e Hospedagem</a></li>
          </ul>
        </nav>
        <div class="small-9 columns">
          <div id="page-title" class="small-12">
            <h1><a href="#">INFORMAÇÕES</a></h1>
          </div>
          <div class="sub-category-menu"><a href="/informacoes.html" class="button">Informações Gerais</a><a href="/informacoes-viagem.html" class="button current">Viagem e Hospedagem</a><a href="/informacoes-agencia.html" class="button">Agência de Eventos</a><a href="/informacoes-saopaulo.html" style="min-width:inherit" class="button">São Paulo</a></div>
          <div class="small-12">
            <div class="small-12 left empresa">
              <div class="small-4 left logo"><img src="http://placehold.it/300x200" alt=""></div>
              <div class="small-8 left local">
                <h3>Diferencial Viagens e Turismo</h3>
                <address>
                  <p><a href="#">Rua Cubatão , 929 - Cj.26 <br> CEP: 04013-002 - São Paulo/SP </a><br> Tel. <a href="#">+55 (11) 5081-2444 </a>ou <a href="#">+55 (11) 5081-2444</a><br><a href="#" class="link">www.diferencialtur.com.br</a></p>
                </address>
              </div>
            </div>
            <div class="small-12 left local">
              <h2 class="small-12 box-title icon-building bg-secondary">Hotéis</h2>
              <div class="orbit-container">
                <ul data-orbit data-options="slide_number: false; bullets: false; timer: false; next_class: block-nav-next; prev_class: block-nav-prev; " class="content-slider">
                  <li><img src="http://placehold.it/740x210/112233" alt=""></li>
                  <li><img src="http://placehold.it/740x210/223344" alt=""></li>
                  <li><img src="http://placehold.it/740x210/334455" alt=""></li>
                </ul>
              </div>
              <h3>Golden Tulip Belas Artes</h3>
              <address>
                <p><a href="#">Rua Frei Caneca, 1199 - Consolação <br> CEP: 01307-001, São Paulo/SP </a><br> Tel. <a href="#">+55 (11) 472-2020 </a>ou <a href="#">+55 (11) 3472-2000</a><br><a href="#" class="link">www.convencoesfreicaneca.com.br</a></p>
              </address>
              <p>A apenas uma quadra da Avenida Paulista, próximo à Consolação, está o Hotel São Paulo Golden Tulip Belas Artes, que já há tempos vem se reafirmando como uma das opções de hospedagem com a melhor excelência em serviços de São Paulo. A atenção com o hóspede segue à risca o premiado padrão de atendimento da rede Golden Tulip, e vai desde o compromisso com a oferta de uma estrutura e sofisticada de hospedagem até o elemento humano, presente no atendimento atencioso e experiente de toda a nossa equipe.</p>
            </div>
            <div class="small-12 left como-chegar"><span class="icon-map small-1 left"></span>
              <p class="small-11 left">Como chegar ao Golden Tulip Belas Artes</p>
              <p class="small-11 left route">Para tarçar a rota.<a href="#"> clique aqui &#62;</a></p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.3062005513357!2d-46.65741889999995!3d-23.557443799999984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59cceaff45b1%3A0x45be3a66747bfb97!2sR.+Frei+Caneca%2C+1199+-+Consola%C3%A7%C3%A3o%2C+S%C3%A3o+Paulo+-+SP%2C+01307-001!5e0!3m2!1spt-BR!2sbr!4v1412023830120" width="740" height="300" frameborder="0" style="border:0"></iframe>
            </div>
            <div class="small-12 left line"></div>
            <div class="small-12 left local">
              <div class="orbit-container">
                <ul data-orbit data-options="slide_number: false; bullets: false; timer: false; next_class: block-nav-next;  prev_class: block-nav-prev; " class="content-slider">
                  <li><img src="http://placehold.it/740x210/112233" alt=""></li>
                  <li><img src="http://placehold.it/740x210/223344" alt=""></li>
                  <li><img src="http://placehold.it/740x210/334455" alt=""></li>
                </ul>
              </div>
              <h3>Golden Tulip Belas Artes</h3>
              <address>
                <p><a href="#">Rua Frei Caneca, 1199 - Consolação <br> CEP: 01307-001, São Paulo/SP </a><br> Tel. <a href="#">+55 (11) 472-2020 </a>ou <a href="#">+55 (11) 3472-2000</a><br><a href="#" class="link">www.convencoesfreicaneca.com.br</a></p>
              </address>
              <p>A apenas uma quadra da Avenida Paulista, próximo à Consolação, está o Hotel São Paulo Golden Tulip Belas Artes, que já há tempos vem se reafirmando como uma das opções de hospedagem com a melhor excelência em serviços de São Paulo. A atenção com o hóspede segue à risca o premiado padrão de atendimento da rede Golden Tulip, e vai desde o compromisso com a oferta de uma estrutura e sofisticada de hospedagem até o elemento humano, presente no atendimento atencioso e experiente de toda a nossa equipe.</p>
            </div>
            <div class="small-12 left como-chegar"><span class="icon-map small-1 left"></span>
              <p class="small-11 left">Como chegar ao Golden Tulip Belas Artes</p>
              <p class="small-11 left route">Para tarçar a rota.<a href="#"> clique aqui &#62;</a></p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.3062005513357!2d-46.65741889999995!3d-23.557443799999984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59cceaff45b1%3A0x45be3a66747bfb97!2sR.+Frei+Caneca%2C+1199+-+Consola%C3%A7%C3%A3o%2C+S%C3%A3o+Paulo+-+SP%2C+01307-001!5e0!3m2!1spt-BR!2sbr!4v1412023830120" width="740" height="300" frameborder="0" style="border:0"></iframe>
            </div>
          </div>
        </div>
        <div class="small-3 columns">
          <aside>
            <h4>Realização</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Diamante</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Ouro</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Prata</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Bronze</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var local_data = { from: 'app/informacoes-viagem.jade', to: 'app/informacoes-viagem.html' }
      console.log(local_data);
      console.log(local_data.from);
      
    </script>
    <footer>
      <section role="banners" class="big-banners">
        <ul data-orbit="data-orbit" data-options="animation:fade; navigation_arrows:false; timer:false; slide_number:false;">
          <li class="active"><img src="images/141003-banner-footer-programacao-cientifica-1440.jpg" data-interchange="[images/141003-banner-footer-programacao-cientifica-1440.jpg, (default)], [images/141003-banner-footer-programacao-cientifica-1920.jpg, (only screen and (min-width: 1440px))]" alt="slide 2">
            <div class="row">
              <div class="orbit-caption">
                <h4>PROGRAMAÇÃO<br><span>CIENTÍFICA</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/EE964D/fff, (default)], [http://placehold.it/1920x320/EE964D/fff, (only screen and (min-width: 1440px))]" alt="slide 1">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Two&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/FDC43D/fff, (default)], [http://placehold.it/1920x320/FDC43D/fff, (only screen and (min-width: 1440px))]" alt="slide 3">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Three&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <div class="row">
        <div id="subscribe" class="small-8 columns">
          <h4>Você já se inscreveu?</h4><a href="#"><strong>veja mais informações &#8250;</strong></a>
        </div>
        <div class="small-4 columns">
          <h4 class="text-right">Inscreva-se Agora!</h4>
        </div>
      </div>
      <section role="sitemap">
        <div class="row">
          <div class="small-6 columns"><img src="images/congresso_brasileiro_patologia_white.png"><em>Agências Promotora e de Viagens:</em>
            <div class="row">
              <div class="small-5 columns"><a href="#" class="sprites-footer interevent"></a></div>
              <div class="small-5 columns end"><a href="#" class="sprites-footer diferencial"></a></div>
            </div>
          </div>
          <div class="small-3 columns">
            <ul>
              <li><a href="#" class="uppercase">Home</a></li>
              <li><a href="#" class="uppercase">O Congresso</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#">Comissão</a></li>
              <li><a href="#">Palestrantes</a></li>
              <li><a href="#">Trabalhos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#" class="uppercase">Inscrições</a></li>
              <li><a href="#" class="uppercase">Fale Conosco</a></li>
            </ul>
          </div>
          <div class="small-3 columns">
            <ul>
              <li>
                <div itemscope="itemscope" itemtype="http://schema.org/Organization">
                  <h5>contatos<span itemprop="telephone">+55 (21) 3326-3320</span></h5>
                </div>
              </li>
              <li><a href="mailto:patologia2015@interevent.com.br" itemprop="email">patologia2015@interevent.com.br</a></li>
              <li>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Av. das Americas 3500<br>Bl. Hong Kong 3000 Sl. 405</span><span itemprop="addressLocality">Barra da Tijuca -<span itemprop="addressRegion">RJ</span></span></div>
              </li>
            </ul>
            <div class="row collapse">
              <div class="small-7 small-offset-1 column">
                <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row collapse"><em>Patrocínio:</em>
          <ul class="small-block-grid-4">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-5">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-8">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
      </section>
      <section role="copyright">
        <div class="row collapse">
          <div class="small-8 columns">
            <ul class="small-block-grid-5">
              <li><em>Realização:</em></li>
              <li><a href="#" class="sprites-footer sbp"></a></li>
              <li><em>Apoio:</em></li>
              <li><a href="#" class="sprites-footer academy"></a></li>
              <li><a href="#" class="sprites-footer amb"></a></li>
            </ul>
          </div>
          <div class="small-4 columns"><small>&copy; Todos os direitos reservados a Sociedade Brasileira de Patologia</small></div>
        </div>
      </section>
    </footer>
    <!-- build:js js/vendor/libraries.min.js-->
    <!-- bower:js-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <!-- endbower-->
    <script src="js/tiny.editor.js"></script>
    <script src="js/send-field.js"></script>
    <!-- endbuild-->
    <!-- build:js js/vendor/foundation.min.js-->
    <script src="bower_components/foundation/js/foundation/foundation.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.accordion.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.alert.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.clearing.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.equalizer.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.interchange.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.magellan.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.reveal.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.orbit.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tab.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.topbar.js"></script>
    <!-- endbuild-->
    <!-- build:js js/app.min.js-->
    <script src="js/app.js"></script>
    <!-- endbuild-->
  </body>
</html>
