app/inscricoes-congresso-administrativo.jade
doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") Área Administrativa
						li.current
							a(href="#") Participante

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") ÁREA ADMINISTRATIVA
					div.sub-category-menu
						a(href="#").button EDITAR ATIVIDADES
						a(href="#").button RE-IMPRIMIR BOLETO
						a(href="#").button.right ALTERAR SENHA

					.small-12.left
						.small-12.bg-secondary.left
							h2.small-12.box-title.icon-folder-move.left Submeter Seminário de Lâminas
						.small-12.login_block.left
							form
								div.small-12.columns
									h2 Para submeter seus seminários faça o login:

								div.small-6.columns.box
									.small-2.columns
										.icon-user
									.small-10.columns
										input(type="text" placeholder="E-MAIL")

								div.small-5.columns.box
									.small-2.columns
										.icon-key
									.small-10.columns
										input(type="text" placeholder="SENHA")

								div.small-1.columns.box
									button.button OK

								div.small-12.columns
									p Ainda não efetuou seu cadastro? 
										a(href="#")  Clique aqui e cadastre-se agora.


						.small-12.left#adm-table
							.small-12.left.content_line
								.small-4.columns.panel.bg-custom.dark-gray DATA / HORÁRIO - INÍCIO
								.small-4.columns.panel.bg-custom.dark-gray DATA / HORÁRIO - TÉRMINO
								.small-4.columns.panel.bg-custom.dark-gray ATIVIDADE

							.small-12.left.content_line
								.small-4.columns.panel 13/09/2015 / 14:00:00
								.small-4.columns.panel 13/09/2015 / 15:00:00
								.small-4.columns.panel CL01 - Patologia Mamária

							.small-12.left.content_line
								.small-4.columns.panel 13/09/2015 / 14:00:00
								.small-4.columns.panel 13/09/2015 / 15:00:00
								.small-4.columns.panel CL01 - Patologia Mamária

							.small-12.left.content_line
								.small-4.columns.panel 13/09/2015 / 14:00:00
								.small-4.columns.panel 13/09/2015 / 15:00:00
								.small-4.columns.panel CL01 - Patologia Mamária

						.small-6.left#accompanying
							.accompanying-title
								h2 Acompanhantes:
								p Administre seus acompanhantes.
							dl.small-12.accordion(data-accordion)
								dd.accordion-navigation.small-12.left
									a(href="#user1").small-12.left
										.icon-check
										button.icon-close
										h2.small-12 User Name 1
									div#user1.content.small-12.left
										p CPF: 873.537.632-56
										p Categoria: Residente
										p Pagamento: 
											strong  Pago

								dd.accordion-navigation.small-12.left
									a(href="#user2").small-12.left
										.icon-check
										button.icon-close
										h2.small-12 User Name 2
									div#user2.content.small-12.left
										p CPF: 873.537.632-56
										p Categoria: Residente
										p Pagamento: 
											strong  Pago

								dd.accordion-navigation.small-12.left
									a(href="#user3").small-12.left
										.icon-check
										button.icon-close
										h2.small-12 User Name 3
									div#user3.content.small-12.left
										p CPF: 873.537.632-56
										p Categoria: Residente
										p Pagamento: 
											strong  Pago

						.small-6.left#accompanying-add
							.accompanying-title
								h2 Novo acompanhante:
								p Insira o CPF do novo acompanhante.
							form.row
								div.small-12.columns
									div(data-alert class="alert-box") Acompanhante inserido!
										a(href="#" class="close") &times;
								div.small-12.columns
									input(type="text" placeholder="CPF")

								div.small-12.columns
									select
										option(value="") CATEGORIA
										option(value="opcao1") Opção 1
										option(value="opcao2") Opção 2
										option(value="opcao3") Opção 3
										option(value="opcao4") Opção 4
								div.small-12.columns
									select
										option(value="") PAGAMENTO
										option(value="opcao1") Opção 1
										option(value="opcao2") Opção 2
										option(value="opcao3") Opção 3
										option(value="opcao4") Opção 4
								div.small-12.columns
									button.button.small-12.secondary INSCREVER NOVO ACOMPANHANTE

				div(class="small-3 columns")
					include sidebar
		include footer

app/inscricoes-congresso-administrativo.html
<!DOCTYPE html>
<html lang="pt" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>30 Congresso Brasileiro de Patologia | 29 de Outubro a 01 de Novembro</title>
    <!-- build:css css/libraries.min.css-->
    <!-- bower:css-->
    <!-- endbower-->
    <!-- endbuild-->
    <!-- build:css css/app.min.css-->
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/app_override.css">
    <!-- endbuild-->
    <!-- build:js js/vendor/modernizr.min.js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild-->
  </head>
  <body>
    <header>
      <div data-equalizer="data-equalizer" class="row">
        <div data-equalizer-watch="data-equalizer-watch" class="small-4 columns">
          <div itemscope="itemscope" itemtype="http://schema.org/Organization"><a itemprop="url" href="http://congressodepatologia.org.br/"><img itemprop="logo" src="images/congresso_brasileiro_patologia.png" alt="30 Congresso Brasileiro de Patologia"></a></div>
        </div>
        <div id="data" data-equalizer-watch="data-equalizer-watch" class="small-6 columns"><img src="images/data_congresso.png" alt="De 29 de Outubro a 01 de Novembro"></div>
        <div id="login" data-equalizer-watch="data-equalizer-watch" class="small-2 columns">
          <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
          <ul class="inline-list">
            <li><a href="#">login</a></li>
            <li><a href="#">cadastre-se</a></li>
          </ul>
        </div>
        <div class="small-12 columns">
          <nav id="mainNav">
            <ul class="inline-list">
              <li><a href="#">Home</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#" data-dropdown="drop-trabalhos">Trabalhos e SL de Residentes</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <section role="fixed-navigation">
        <div class="row">
          <div class="small-12 columns"></div>
          <nav>
            <ul class="inline-list">
              <li><a href="#" class="logo">30 Congresso Brasileiro de Patologia</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Associados Eméritos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <section role="dropdown-container">
        <div class="row">
          <ul id="drop-congresso" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
        <div class="row">
          <ul id="drop-trabalhos" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
      </section>
    </header>
    <div id="content" role="content">
      <div class="row">
        <nav id="breadcrumbs" class="small-12 columns">
          <ul class="breadcrumbs">
            <li><a href=".">Home</a></li>
            <li><a href="#">Área Administrativa</a></li>
            <li class="current"><a href="#">Participante</a></li>
          </ul>
        </nav>
        <div class="small-9 columns">
          <div id="page-title" class="small-12">
            <h1><a href="#">ÁREA ADMINISTRATIVA</a></h1>
          </div>
          <div class="sub-category-menu"><a href="#" class="button">EDITAR ATIVIDADES</a><a href="#" class="button">RE-IMPRIMIR BOLETO</a><a href="#" class="button right">ALTERAR SENHA</a></div>
          <div class="small-12 left">
            <div class="small-12 bg-secondary left">
              <h2 class="small-12 box-title icon-folder-move left">Submeter Seminário de Lâminas</h2>
            </div>
            <div class="small-12 login_block left">
              <form>
                <div class="small-12 columns">
                  <h2>Para submeter seus seminários faça o login:</h2>
                </div>
                <div class="small-6 columns box">
                  <div class="small-2 columns">
                    <div class="icon-user"></div>
                  </div>
                  <div class="small-10 columns">
                    <input type="text" placeholder="E-MAIL">
                  </div>
                </div>
                <div class="small-5 columns box">
                  <div class="small-2 columns">
                    <div class="icon-key"></div>
                  </div>
                  <div class="small-10 columns">
                    <input type="text" placeholder="SENHA">
                  </div>
                </div>
                <div class="small-1 columns box">
                  <button class="button">OK</button>
                </div>
                <div class="small-12 columns">
                  <p>Ainda não efetuou seu cadastro? <a href="#"> Clique aqui e cadastre-se agora.</a></p>
                </div>
              </form>
            </div>
            <div id="adm-table" class="small-12 left">
              <div class="small-12 left content_line">
                <div class="small-4 columns panel bg-custom dark-gray">DATA / HORÁRIO - INÍCIO</div>
                <div class="small-4 columns panel bg-custom dark-gray">DATA / HORÁRIO - TÉRMINO</div>
                <div class="small-4 columns panel bg-custom dark-gray">ATIVIDADE</div>
              </div>
              <div class="small-12 left content_line">
                <div class="small-4 columns panel">13/09/2015 / 14:00:00</div>
                <div class="small-4 columns panel">13/09/2015 / 15:00:00</div>
                <div class="small-4 columns panel">CL01 - Patologia Mamária</div>
              </div>
              <div class="small-12 left content_line">
                <div class="small-4 columns panel">13/09/2015 / 14:00:00</div>
                <div class="small-4 columns panel">13/09/2015 / 15:00:00</div>
                <div class="small-4 columns panel">CL01 - Patologia Mamária</div>
              </div>
              <div class="small-12 left content_line">
                <div class="small-4 columns panel">13/09/2015 / 14:00:00</div>
                <div class="small-4 columns panel">13/09/2015 / 15:00:00</div>
                <div class="small-4 columns panel">CL01 - Patologia Mamária</div>
              </div>
            </div>
            <div id="accompanying" class="small-6 left">
              <div class="accompanying-title">
                <h2>Acompanhantes:</h2>
                <p>Administre seus acompanhantes.</p>
              </div>
              <dl data-accordion class="small-12 accordion">
                <dd class="accordion-navigation small-12 left"><a href="#user1" class="small-12 left">
                    <div class="icon-check"></div>
                    <button class="icon-close"></button>
                    <h2 class="small-12">User Name 1</h2></a>
                  <div id="user1" class="content small-12 left">
                    <p>CPF: 873.537.632-56</p>
                    <p>Categoria: Residente</p>
                    <p>Pagamento: <strong> Pago</strong></p>
                  </div>
                </dd>
                <dd class="accordion-navigation small-12 left"><a href="#user2" class="small-12 left">
                    <div class="icon-check"></div>
                    <button class="icon-close"></button>
                    <h2 class="small-12">User Name 2</h2></a>
                  <div id="user2" class="content small-12 left">
                    <p>CPF: 873.537.632-56</p>
                    <p>Categoria: Residente</p>
                    <p>Pagamento: <strong> Pago</strong></p>
                  </div>
                </dd>
                <dd class="accordion-navigation small-12 left"><a href="#user3" class="small-12 left">
                    <div class="icon-check"></div>
                    <button class="icon-close"></button>
                    <h2 class="small-12">User Name 3</h2></a>
                  <div id="user3" class="content small-12 left">
                    <p>CPF: 873.537.632-56</p>
                    <p>Categoria: Residente</p>
                    <p>Pagamento: <strong> Pago</strong></p>
                  </div>
                </dd>
              </dl>
            </div>
            <div id="accompanying-add" class="small-6 left">
              <div class="accompanying-title">
                <h2>Novo acompanhante:</h2>
                <p>Insira o CPF do novo acompanhante.</p>
              </div>
              <form class="row">
                <div class="small-12 columns">
                  <div data-alert class="alert-box">Acompanhante inserido!<a href="#" class="close">&times;</a></div>
                </div>
                <div class="small-12 columns">
                  <input type="text" placeholder="CPF">
                </div>
                <div class="small-12 columns">
                  <select>
                    <option value="">CATEGORIA</option>
                    <option value="opcao1">Opção 1</option>
                    <option value="opcao2">Opção 2</option>
                    <option value="opcao3">Opção 3</option>
                    <option value="opcao4">Opção 4</option>
                  </select>
                </div>
                <div class="small-12 columns">
                  <select>
                    <option value="">PAGAMENTO</option>
                    <option value="opcao1">Opção 1</option>
                    <option value="opcao2">Opção 2</option>
                    <option value="opcao3">Opção 3</option>
                    <option value="opcao4">Opção 4</option>
                  </select>
                </div>
                <div class="small-12 columns">
                  <button class="button small-12 secondary">INSCREVER NOVO ACOMPANHANTE</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="small-3 columns">
          <aside>
            <h4>Realização</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Diamante</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Ouro</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Prata</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Bronze</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var local_data = { from: 'app/inscricoes-congresso-administrativo.jade', to: 'app/inscricoes-congresso-administrativo.html' }
      console.log(local_data);
      console.log(local_data.from);
      
    </script>
    <footer>
      <section role="banners" class="big-banners">
        <ul data-orbit="data-orbit" data-options="animation:fade; navigation_arrows:false; timer:false; slide_number:false;">
          <li class="active"><img src="images/141003-banner-footer-programacao-cientifica-1440.jpg" data-interchange="[images/141003-banner-footer-programacao-cientifica-1440.jpg, (default)], [images/141003-banner-footer-programacao-cientifica-1920.jpg, (only screen and (min-width: 1440px))]" alt="slide 2">
            <div class="row">
              <div class="orbit-caption">
                <h4>PROGRAMAÇÃO<br><span>CIENTÍFICA</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/EE964D/fff, (default)], [http://placehold.it/1920x320/EE964D/fff, (only screen and (min-width: 1440px))]" alt="slide 1">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Two&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/FDC43D/fff, (default)], [http://placehold.it/1920x320/FDC43D/fff, (only screen and (min-width: 1440px))]" alt="slide 3">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Three&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <div class="row">
        <div id="subscribe" class="small-8 columns">
          <h4>Você já se inscreveu?</h4><a href="#"><strong>veja mais informações &#8250;</strong></a>
        </div>
        <div class="small-4 columns">
          <h4 class="text-right">Inscreva-se Agora!</h4>
        </div>
      </div>
      <section role="sitemap">
        <div class="row">
          <div class="small-6 columns"><img src="images/congresso_brasileiro_patologia_white.png"><em>Agências Promotora e de Viagens:</em>
            <div class="row">
              <div class="small-5 columns"><a href="#" class="sprites-footer interevent"></a></div>
              <div class="small-5 columns end"><a href="#" class="sprites-footer diferencial"></a></div>
            </div>
          </div>
          <div class="small-3 columns">
            <ul>
              <li><a href="#" class="uppercase">Home</a></li>
              <li><a href="#" class="uppercase">O Congresso</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#">Comissão</a></li>
              <li><a href="#">Palestrantes</a></li>
              <li><a href="#">Trabalhos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#" class="uppercase">Inscrições</a></li>
              <li><a href="#" class="uppercase">Fale Conosco</a></li>
            </ul>
          </div>
          <div class="small-3 columns">
            <ul>
              <li>
                <div itemscope="itemscope" itemtype="http://schema.org/Organization">
                  <h5>contatos<span itemprop="telephone">+55 (21) 3326-3320</span></h5>
                </div>
              </li>
              <li><a href="mailto:patologia2015@interevent.com.br" itemprop="email">patologia2015@interevent.com.br</a></li>
              <li>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Av. das Americas 3500<br>Bl. Hong Kong 3000 Sl. 405</span><span itemprop="addressLocality">Barra da Tijuca -<span itemprop="addressRegion">RJ</span></span></div>
              </li>
            </ul>
            <div class="row collapse">
              <div class="small-7 small-offset-1 column">
                <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row collapse"><em>Patrocínio:</em>
          <ul class="small-block-grid-4">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-5">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-8">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
      </section>
      <section role="copyright">
        <div class="row collapse">
          <div class="small-8 columns">
            <ul class="small-block-grid-5">
              <li><em>Realização:</em></li>
              <li><a href="#" class="sprites-footer sbp"></a></li>
              <li><em>Apoio:</em></li>
              <li><a href="#" class="sprites-footer academy"></a></li>
              <li><a href="#" class="sprites-footer amb"></a></li>
            </ul>
          </div>
          <div class="small-4 columns"><small>&copy; Todos os direitos reservados a Sociedade Brasileira de Patologia</small></div>
        </div>
      </section>
    </footer>
    <!-- build:js js/vendor/libraries.min.js-->
    <!-- bower:js-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <!-- endbower-->
    <script src="js/tiny.editor.js"></script>
    <script src="js/send-field.js"></script>
    <!-- endbuild-->
    <!-- build:js js/vendor/foundation.min.js-->
    <script src="bower_components/foundation/js/foundation/foundation.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.accordion.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.alert.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.clearing.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.equalizer.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.interchange.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.magellan.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.reveal.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.orbit.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tab.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.topbar.js"></script>
    <!-- endbuild-->
    <!-- build:js js/app.min.js-->
    <script src="js/app.js"></script>
    <!-- endbuild-->
  </body>
</html>
